<div class="ui inverted vertical footer segment">
    <div class="ui center aligned container">
        <div class="ui horizontal inverted small divided link list">
            <a href="/" class="item">Accueil</a>
            <a href="{{ path('home_legal') }}" class="item">Mentions légales</a>
            <a href="{{ path('home_contact') }}" class="item">Contactez nous</a>
        </div>
    </div>
</div>
