<div class="ui fixed menu">
    <div class="ui container">
        <a href="/" class="header item">
            Boutique
        </a>
        <a href="#" class="item">Se connecter</a>
        <a href="#" class="item">Créer un compte</a>
    </div>
</div>
