{% extends 'base.html.twig' %}

{% block title 'Mentions légales' %}

{% block stylesheets %}
<style>
    .n { display: none; }
</style>
{% endblock %}

{% block body %}
    <h1 class="ui header">Mentions légales</h1>

    <h2>ÉDITEUR</h2>
    <p>
        <b>NR Consulting</b><br>
        Société par Actions Simplifiée<br>
        SIREN : 942 402 199
    </p>
    <p>
        <b>Siège</b><br>
        44, rue d'Aubervilliers<br>
        75019 Paris<br>
        Téléphone : <a href="tel:33767471649">+33 7 67 47 16 49</a><br>
        <i class="n">sjkfhsk</i>service-client<i class="n">5sd4f5sd</i>@romain-neil.fr
    </p>

    <h2>HÉBERGEMENT</h2>
    <p>
        Le présent site internet est hébergé par :<br>
        NR Consulting SASU, 44 rue d'Aubervilliers, 75019 Paris, <a href="tel:33767471649">07 67 47 16 49</a>
    </p>

    <h2>PROPRIÉTÉ INTELLECTUELLE</h2>
    <p>
        NR Consulting est propriétaire des droits de propriété intellectuelle ou détient les droits d’usage sur tous les éléments accessibles sur le site, notamment les textes, images, logo (sauf mentions contraires).
    </p>
    <p>
        Toute reproduction, représentation, modification, publication, adaptation de tout ou partie des éléments du site, quel que soit le moyen ou le procédé utilisé, est interdite, sauf autorisation écrite préalable.
    </p>
    <p>
        Toute exploitation non autorisée du site ou de l’un quelconque des éléments qu’il contient sera considérée comme constitutive d’une contrefaçon et poursuivie conformément aux dispositions des articles L.335-2 et suivants du Code de Propriété Intellectuelle.
    </p>
    <p>
        Cela dit, conformément à l’article L. 122-5 du Code de la propriété intellectuelle, les courtes citations du contenu sont autorisées, sous réserve que soient indiqués clairement le nom de l’auteur et de la source, par un lien vers une des pages de ce site web.
    </p>
{% endblock %}
