{% extends 'base.html.twig' %}

{% block title 'Créer une région' %}

{% block body %}

	<h2>Créer une région de service</h2>

	{{ include('common/edit_form.html.twig', {form: form}) }}

{% endblock %}

