<h1>Un nouveau message du formulaire de contact vient d'être envoyé</h1>

<p>{{ data.firstname }} {{ data.lastname }} a écrit le message suivant : </p>

<pre>{{ data.message }}</pre>

<p>Adresse IP utilisée : {{ ip }}</p>
