{% extends 'blank_base.html.twig' %}

{% block main_body %}
    {% include '_partials/flashs.html.twig' %}
    {% include '_partials/menu.html.twig' %}

    <div class="ui main text container">
        {% block body %}{% endblock %}
    </div>

    {% include '_partials/footer.html.twig' %}
{% endblock %}
